.btn-link {
    background: none;
    border: none;
    color: #fff;
    padding: 0;
    cursor: pointer;
    text-decoration: underline;
    font-size: inherit;
  }
  
  .btn-link:hover, .btn-link:focus {
    text-decoration: none;
    color: #ccc;
  }
  